# Biblioteca Pandas

### Series y DataFrames

In [2]:
import pandas as pd

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
animales = ['Tortuga', 'Zorro', 'Paloma', 'Elefante']
tipo = ['reptil', 'mamífero', 'ave', 'mamífero']
obj = pd.Series(tipo, index=animales)
obj

Tortuga       reptil
Zorro       mamífero
Paloma           ave
Elefante    mamífero
dtype: object

DataFrames

In [5]:
d = {'tipo_vivienda': ['casa', 'departamento'], 'm2': [35, 49]}
df = pd.DataFrame(data=d)
df

  tipo_vivienda  m2
0          casa  35
1  departamento  49

### Cargando datos

In [6]:
df = pd.read_csv('fifa-statistics.csv')

In [7]:
pd.read_table('fifa-statistics.csv',sep=',')

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,29-06-2018,Portugal,Uruguay,1,61,20,5,1,8,10,...,1,0,0,No,55.0,Round of 16,No,0,NaN,NaN
100,30-06-2018,Spain,Russia,1,75,25,9,6,10,6,...,1,0,0,No,12.0,Round of 16,Yes,3,NaN,NaN
101,30-06-2018,Russia,Spain,1,25,6,1,3,2,5,...,2,0,0,Yes,41.0,Round of 16,Yes,4,1.0,12.0
102,30-06-2018,Crotia,Denamrk,1,54,22,7,8,7,5,...,0,0,0,Yes,4.0,Round of 16,Yes,3,NaN,NaN
103,30-06-2018,Denamrk,Crotia,1,46,15,3,10,2,4,...,1,0,0,No,1.0,Round of 16,Yes,2,NaN,NaN

## Selección e Indexing

### loc e iloc

In [8]:
df.loc[0, 'Team'] # Traer de fila 0 el dato que esta en la columna team

'Russia'

In [9]:
df.iloc[0, [1]] # Iloc toma por argumento numeros enteros, en vez de poner team, pedimos el elemento n de esa fila

Team    Russia
Name: 0, dtype: object

In [10]:
df.iloc[2] # Trae toda la fila que se encuentra en la posicion del indice n 2

Date                       15-06-2018
Team                            Egypt
Opponent                      Uruguay
Goal Scored                         0
Ball Possession %                  43
Attempts                            8
On-Target                           3
Off-Target                          3
Blocked                             2
Corners                             0
Offsides                            1
Free Kicks                          7
Saves                               3
Pass Accuracy %                    78
Passes                            395
Distance Covered (Kms)            112
Fouls Committed                    12
Yellow Card                         2
Yellow & Red                        0
Red                                 0
Man of the Match                   No
1st Goal                          NaN
Round                     Group Stage
PSO                                No
Goals in PSO                        0
Own goals                         NaN
Own goal Time                     NaN
Name: 2, dtype: object

## Análisis descriptivo en Pandas

### describe, info y shape

In [11]:
df.describe()
# Nos da una informacion general de lo que contiene este dataset

,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,Free Kicks,Saves,...,Passes,Distance Covered (Kms),Fouls Committed,Yellow Card,Yellow & Red,Red,1st Goal,Goals in PSO,Own goals,Own goal Time
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,...,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,77.000000,104.000000,10.0,10.000000
mean,1.307692,50.000000,12.182692,3.826923,5.096154,3.201923,4.538462,1.442308,14.942308,2.644231,...,456.144231,105.201923,13.500000,1.625000,0.019231,0.009615,38.974026,0.115385,1.0,51.900000
std,1.183027,10.899363,5.209708,2.191964,2.354583,2.366349,2.397098,1.252779,4.572665,1.980087,...,155.422719,9.107108,4.467792,1.337927,0.138000,0.098058,24.681644,0.596229,0.0,29.183138
min,0.000000,25.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,...,189.000000,80.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.0,12.000000
25%,0.000000,42.000000,8.000000,2.000000,3.000000,1.000000,3.000000,0.750000,11.000000,1.000000,...,347.500000,101.000000,10.000000,1.000000,0.000000,0.000000,18.000000,0.000000,1.0,32.250000
50%,1.000000,50.000000,12.000000,3.000000,5.000000,3.000000,5.000000,1.000000,15.000000,2.000000,...,453.500000,104.000000,13.000000,1.000000,0.000000,0.000000,38.000000,0.000000,1.0,42.000000
75%,2.000000,58.000000,15.000000,5.000000,6.000000,4.000000,6.000000,2.250000,18.000000,4.000000,...,548.250000,108.250000,16.000000,2.000000,0.000000,0.000000,54.000000,0.000000,1.0,79.250000
max,6.000000,75.000000,26.000000,12.000000,11.000000,10.000000,10.000000,5.000000,26.000000,9.000000,...,1137.000000,146.000000,24.000000,6.000000,1.000000,1.000000,90.000000,4.000000,1.0,90.000000

In [12]:
df.info()
# La informacion son los datos de cada columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 27 columns):
Date                      104 non-null object
Team                      104 non-null object
Opponent                  104 non-null object
Goal Scored               104 non-null int64
Ball Possession %         104 non-null int64
Attempts                  104 non-null int64
On-Target                 104 non-null int64
Off-Target                104 non-null int64
Blocked                   104 non-null int64
Corners                   104 non-null int64
Offsides                  104 non-null int64
Free Kicks                104 non-null int64
Saves                     104 non-null int64
Pass Accuracy %           104 non-null int64
Passes                    104 non-null int64
Distance Covered (Kms)    104 non-null int64
Fouls Committed           104 non-null int64
Yellow Card               104 non-null int64
Yellow & Red              104 non-null int64
Red                       104 non-null int64
Man of the Match          104 non-null object
1st Goal                  77 non-null float64
Round                     104 non-null object
PSO                       104 non-null object
Goals in PSO              104 non-null int64
Own goals                 10 non-null float64
Own goal Time             10 non-null float64
dtypes: float64(3), int64(18), object(6)
memory usage: 22.1+ KB

In [13]:
df.shape
# Es una propiedad de los df, nos indica la forma que tiene nuestra tabla

(104, 27)

In [14]:
df.columns
# Devuelve un arreglo con todas las columnas existentes

Index(['Date', 'Team', 'Opponent', 'Goal Scored', 'Ball Possession %',
       'Attempts', 'On-Target', 'Off-Target', 'Blocked', 'Corners', 'Offsides',
       'Free Kicks', 'Saves', 'Pass Accuracy %', 'Passes',
       'Distance Covered (Kms)', 'Fouls Committed', 'Yellow Card',
       'Yellow & Red', 'Red', 'Man of the Match', '1st Goal', 'Round', 'PSO',
       'Goals in PSO', 'Own goals', 'Own goal Time'],
      dtype='object')

In [ ]:
df.head()
# Head es una forma de ver los primeros datos que tiene nuestro df

In [ ]:
df.tail(4)
# Tail es una forma de ver los ultimos datos que tiene nuestro df

### unique y value_counts()

In [ ]:
df['Team'].unique()

In [ ]:
df.Team.value_counts()

### count, min, max, mean, median, std y corr

In [ ]:
df.corr()

### Quantiles

In [ ]:
df['Distance Covered (Kms)'].quantile(0.90) # 10th percentile

In [ ]:
df['Distance Covered (Kms)'].median()

### Ordenando datos

In [ ]:
df.sort_index()

## Combinando datasets

### concat y append

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
   

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])
frames = [df1, df2, df3]

In [5]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [6]:
pd.concat(frames)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [7]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                     index=[2, 3, 6, 7])
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [9]:
pd.concat([df1, df4], axis=1) # Concatenación horizontal

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [10]:
pd.concat([df1, df4], axis=1, join='inner') # Cambiando la forma de concatenar con join

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [11]:
df1.append(df2) # Append es otra forma de fácilmente concatenerar

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Merge

In [12]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})


pd.merge(left, right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [14]:
import numpy as np

## apply y map

### apply

In [38]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20],
                            'clics_por_hora': [156, np.nan, 210, 210]})
usuarios_df

   clics_por_hora  edad
0           156.0   NaN
1             NaN  20.0
2           210.0  41.0
3           210.0  20.0

In [18]:
import numpy as np
usuarios_df.apply(np.mean) # Se puede aplicar cualquier función que toma una fila o columna por entrada.

clics_por_hora    192.0
edad               27.0
dtype: float64

### applymap

In [19]:
usuarios_df.applymap(lambda x: x/2) # Se aplica elemento a elemento. En las series podemos usar directamente serie.map

   clics_por_hora  edad
0            78.0   NaN
1             NaN  10.0
2           105.0  20.5
3           105.0  10.0

## Missing values

### Filtrando valores faltantes

In [20]:
usuarios_df

   clics_por_hora  edad
0           156.0   NaN
1             NaN  20.0
2           210.0  41.0
3           210.0  20.0

In [21]:
usuarios_df.isna()

   clics_por_hora   edad
0           False   True
1            True  False
2           False  False
3           False  False

In [22]:
usuarios_df.dropna()  # Puede borrarse toda fila que contenga un NaN o solamente en las columnas que especificamos

   clics_por_hora  edad
2           210.0  41.0
3           210.0  20.0

In [23]:
usuarios_df.dropna(subset=['edad'])

   clics_por_hora  edad
1             NaN  20.0
2           210.0  41.0
3           210.0  20.0

In [24]:
copia_df = usuarios_df

In [26]:
usuarios_df

   clics_por_hora  edad
0           156.0   NaN
1             NaN  20.0
2           210.0  41.0
3           210.0  20.0

### Completando valores

In [31]:
copia_df['edad'].fillna(usuarios_df.edad.mean())

0    27.0
1    20.0
2    41.0
3    20.0
Name: edad, dtype: float64

In [32]:
copia_df.fillna(0)

   clics_por_hora  edad
0           156.0   0.0
1             0.0  20.0
2           210.0  41.0
3           210.0  20.0

In [33]:
copia_df

   clics_por_hora  edad
0           156.0   NaN
1             NaN  20.0
2           210.0  41.0
3           210.0  20.0

In [34]:

copia_df.fillna(usuarios_df.edad.mean(), inplace=True) # Podemos elegir con qué completar los valores faltantes.

In [35]:
copia_df

   clics_por_hora  edad
0           156.0  27.0
1            27.0  20.0
2           210.0  41.0
3           210.0  20.0

### Borrando duplicados

In [39]:
usuarios_df

   clics_por_hora  edad
0           156.0   NaN
1             NaN  20.0
2           210.0  41.0
3           210.0  20.0

In [41]:
usuarios_df.drop_duplicates(subset=['edad'], keep='first') # Se puede jugar con el first, last, etc. Y también elegir en qué columnas

   clics_por_hora  edad
0           156.0   NaN
1             NaN  20.0
2           210.0  41.0